// app global css in Sass form

div.cleos-auth-dialog {
  color: $blackDark;
}

.main-div {
  background-color: #00000000;
  display: flex;
  flex-flow: column;
}
.fit-div {
  background-color: #00000000;
  flex-grow: 1;
  display: flex;
}
.main-toolbar {
  background-color: #0002;
  border-radius: 15px;
  width: 250px;
  height: 35px;
  min-block-size: auto;
}
.main-toolbar-sperator {
  background-color: #00000000;
  width: 2px;
  height: 20px;
  margin: auto;
}
.bar {
  background-color: #00000000;
  width: 100%;
  height: 50px;
  position: absolute;
}

.coinview {
  background-color: #00000000;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: unset;
  border-bottom-left-radius: unset;
}

.native-font-color {
    color: var(--native-contrast-text-color);
}

@media only screen and (min-width: 1000px) {
  .telosLogo {
    padding: 2.5em 5em 0.875em 4em;
    width: 240px;
  }

  .container {
    overflow: auto;
  }

  .container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    border-radius: 1px;
    background-color: #00000000;
  }

  .container::-webkit-scrollbar {
    width: 1px;
    background-color: #0f0f0f3a;
  }

  .container::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(6, 103, 160, 0);
    background-color: rgba(0, 0, 0, 0);
  }
}

.purpleGradient {
  background: linear-gradient(120deg, $gradientblue, $gradientPurple);
  color: $white;
  transition: background 0.3s ease;
  &:hover {
    background: linear-gradient(120deg, $gradientPurple, $gradientblue);
  }
}

.inputAmount {
  font-size: 2rem;
  z-index: 1;
  label {
    width: 50%;
  }
}

.main-background {
  background: $blackDark;;
}

.main-background-overlay {
  background: linear-gradient(0.40turn, #0a1d5f52, #814cdc52 );
  background-repeat: no-repeat;
  background-size: cover;
}

.dialogPage {
  @extend .main-background-overlay;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 100%;
}

.dialogPageContent {
  width: 800px;
}

.popupCard {
  @extend .main-background-overlay;
  color: var(--native-contrast-text-color);
  background-color: rgba($blackDark, 0.9);
  max-width: 600px !important;
  padding: 20px;
}

.dialogPageHeading,
.popupHeading {
  display: grid;
  grid-template-columns: 50px auto 50px;
  align-items: center;
  padding-bottom: 8px;
}

.dialogPageHeading {
  padding: 0 0 0.8rem 0;
}

.closebBtn {
  border: 2px solid white;
}

.nextBtn {
  width: 300px;
  border-radius: 0;
  padding: 1.2rem;
}

.qrBtn {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba($white, 0.08);
  display: grid;
  place-items: center;
  &:hover {
    background: rgba($white, 0.2);
  }
}


.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 17rem;
  max-width: 20rem;
  min-height: 12rem;
}

.keypadKey {
  display: grid;
  place-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:active {
    background-color: #00000021;
  }
}

.depositInput {
  .q-field--outlined .q-field__control:before {
    border-color: #ffffff73;
  }
}

.display-grid {
  display: grid;
}
.h-20 {
  height: 30px;
}
.wraplabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
