// app global css in Sass form
@font-face {
  font-family: silka-regular-italic;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/silka-regularitalic-webfont.woff");
}

@font-face {
  font-family: silka-regular;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/silka-regular-webfont.woff");
}

body {
  font-family: silka-regular;
  color: $white;
}

.main-div {
  background-color: #00000000;
  display: flex;
  flex-flow: column;
}
.fit-div {
  background-color: #00000000;
  flex-grow: 1;
  display: flex;
}
.main-toolbar {
  background-color: #0002;
  border-radius: 15px;
  width: 250px;
  height: 35px;
  min-block-size: auto;
}
.main-toolbar-sperator {
  background-color: #00000000;
  width: 2px;
  height: 20px;
  margin: auto;
}
.bar {
  background-color: #00000000;
  width: 100%;
  height: 50px;
  position: absolute;
}

.coinview {
  background-color: #00000000;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: unset;
  border-bottom-left-radius: unset;
}

@media only screen and (min-width: 1000px) {
  .telosLogo {
    padding: 2.5em 5em 0.875em 4em;
  }

  .container {
    overflow: auto;
  }

  .container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    border-radius: 1px;
    background-color: #00000000;
  }

  .container:-webkit-scrollbar {
    width: 1px;
    background-color: #0f0f0f3a;
  }

  .container::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(6, 103, 160, 0);
    background-color: rgba(0, 0, 0, 0);
  }
}

.purpleGradient {
  background: linear-gradient(120deg, $gradientblue, $gradientPurple);
  color: $white;
  transition: transform 0.3s;
  &:hover {
    background: linear-gradient(120deg, $gradientPurple, $gradientblue);
  }
}

.inputAmount {
  font-size: 2rem;
  z-index: 1;
  label {
    width: 50%;
  }
}

.main-background {
  background: $blackDark;
}

.main-background-overlay {
  background: url("~assets/MainBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

// .dialogWrapper {
//   display: block;
//   overflow: auto;
// }

.dialogPage {
  @extend .main-background-overlay;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 100%;
}

.dialogPageContent {
  width: 800px;
}

.popupCard {
  @extend .main-background-overlay;
  background-color: rgba($blackDark, 0.9);
  max-width: 600px !important;
  padding: 20px;
}

.dialogPageHeading,
.popupHeading {
  display: grid;
  grid-template-columns: 50px auto 50px;
  align-items: center;
  padding-bottom: 8px;
}

.dialogPageHeading {
  padding: 0 0 0.8rem 0;
}

.closebBtn {
  border: 2px solid white;
}

.nextBtn {
  width: 300px;
  border-radius: 0;
  padding: 1.2rem;
}

.qrBtn {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba($white, 0.08);
  display: grid;
  place-items: center;
  &:hover {
    background: rgba($white, 0.2);
  }
}
.coinTabs {
  .q-tab__indicator {
    background: linear-gradient(45deg, $positive, $primary);
    padding: 0.1rem;
  }
  .q-tab:first-child {
    border-top-left-radius: 2.5rem;
  }
  .q-tab:last-child {
    border-top-right-radius: 2.5rem;
  }

  border-top-left-radius: 2.5rem !important;
  border-top-right-radius: 2.5rem !important;
  background: rgba($white, 0.08);
}
.coinTabPanels {
  background: rgba($white, 0.08);
}

@media only screen and (min-width: 1000px) {
  .coinTabs {
    border-radius: initial;
    background: #00000000;
  }
  .coinTabPanels {
    background: none;
  }
}
