// slide-in-left animation
$anim-slide-in-left: slide-in-left 0.3s cubic-bezier(0, 1.02, 1, 0.99) both;

@keyframes slide-in-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
