$site-gradient: linear-gradient(0.4turn, #071033, #6039A4);
$tooltip-gradient: linear-gradient(0.2turn, rgba(#071033, 0.8), rgba(#6039A4, 0.8));

/*********************
 *** Legacy Colors ***
 *********************/
$gradientTransparent: linear-gradient(0deg, transparent 0%, transparent 0%);
$gradientblue: #1AD6FF;
$gradientPurple: #8946DF;
$lightBlue: #31C1EE;
$gray: #CBCAF9;
$white: #FFFFFF;
$blackDark: #130C3F;
$purple: #8946DF;
$saveBtn: #2e1f4f;

/************************
 *** Dark/Light Mode ***
 ************************/

// Light Mode
.body--light {
    $accent-1: #571AFF;
    $accent-2: #505DCD;
    $accent-3: #DDD1FF;
    $accent-4: #A5A6F6;
    $accent-5: #F7F5FF;
    $site-gradient: linear-gradient(0.4turn, #071033, #6039A4);
    $high-contrast-text-color: #282828;
    $default-contrast-text-color: #4D4D4D;
    $low-contrast-text-color: #939393;
    $native-contrast-text-color: #F7F5FF;
    $menu-text: #fff;
    $canvas: #fff;

    --text-high-contrast: #{$high-contrast-text-color};
    --text-default-contrast: #{$default-contrast-text-color};
    --text-low-contrast: #{$low-contrast-text-color};
    --native-contrast-text-color: #{$native-contrast-text-color};
    --link-color: #{$accent-2};
    --menu-text: #{$menu-text};

    --accent-color: #{$accent-1};
    --accent-color-2: #{$accent-2};
    --accent-color-3: #{$accent-3};
    --accent-color-4: #{$accent-4};
    --accent-color-5: #{$accent-5};
    --negative-color: #{$negative};
    --positive-color: #{$positive};
    --warning-color-ui: #{$warning};
    --warning-color-text: #804A00;

    --negative-muted: #{rgba($negative, 0.5)};
    --positive-muted: #{rgba($positive, 0.5)};

    --bg-color: #{$canvas};

}

// Dark Mode
.body--dark {
    $text-header: #F7F5FF;
    $page-header: #2b0f46;
    $site-gradient: linear-gradient(0.4turn, #071033, #6039A4);
    $ink: #fff;
    $canvas: #313133;

    --text-color: #{$ink};
    --text-color-hover: #{darken($ink, 80%)};
    --text-color-muted: #eeeeee;
    --negative-muted: #{rgba($negative, 0.5)};
    --positive-muted: #{rgba($positive, 0.5)};
    --bg-color: #{$canvas};
    --bg-color-hover: #{lighten($canvas, 80%)};
    --header-text-color: #{$text-header};
    --header-bg-color: #{$page-header};
}

body {
    background-color: var(--bg-color);
}

@mixin gradient_inline_text($gradient) {
    background-image: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}

@mixin gradient_inline_block($gradient) {
    background-image: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

@mixin gradient_text() {
    @include gradient_inline_text(linear-gradient(0.4turn, $gradientblue, $gradientPurple));
}

/** 
 * This creates the ilusion of a gradient border using a background with 5 layers.
 * The first four layers are the four borders, and the last layer is the background.
 * To use this mixin, you must pass in:
   - the radius of the border
   - the width of the border
   - the background-image value, and two or four colors (if using only two, the other two will repeat the pair as default)
 */
@mixin bordient($radius, $width, $bg, $color1, $color2, $color3: $color2, $color4: $color1) {

    background-image:
        radial-gradient(circle at 100% 100%, transparent #{$radius - $width}, $color1 #{$radius - $width}, $color1 #{$radius}, transparent #{$radius}),
        linear-gradient(to right, $color1, $color2),
        radial-gradient(circle at 0% 100%, transparent #{$radius - $width}, $color2 #{$radius - $width}, $color2 #{$radius}, transparent #{$radius}),
        linear-gradient(to bottom, $color2, $color3),
        radial-gradient(circle at 0% 0%, transparent #{$radius - $width}, $color3 #{$radius - $width}, $color3 #{$radius}, transparent #{$radius}),
        linear-gradient(to left, $color3, $color4),
        radial-gradient(circle at 100% 0%, transparent #{$radius - $width}, $color4 #{$radius - $width}, $color4 #{$radius}, transparent #{$radius}),
        linear-gradient(to top, $color4, $color1),
        $bg
        ;

    background-position:
        top left,
        top center,
        top right,
        center right,
        bottom right,
        bottom center,
        bottom left,
        center left,
        center center;

    background-size:
        #{$radius} #{$radius},
        calc(100% - (2 * #{$radius})) #{$width},
        #{$radius} #{$radius},
        #{$width} calc(100% - (2 * #{$radius})),
        #{$radius} #{$radius},
        calc(100% - (2 * #{$radius})) #{$width},
        #{$radius} #{$radius},
        #{$width} calc(100% - (2 * #{$radius})),
        calc(100% - #{$width} / 2) calc(100% - #{$width} / 2);

    background-repeat: no-repeat;

    border-radius: #{$radius};
}

@mixin gradient_border() {
    @include bordient(4px, 1px, $gradientTransparent, $gradientblue, $gradientPurple, $gradientPurple, $gradientblue);
}