@import '../../../node_modules/quasar/src/css/variables.sass';
@import '../quasar.variables.sass';

@import 'colors';
@import 'animations';
@import 'z-index';
@import 'media-queries';
@import 'typography';
@import 'global';
